@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	color: #e5e9f0;
	background-color: #011627;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

button {
	outline: none;
}
